<table class="pure-table pure-table-striped">
	<thead>
		<tr>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="id"
				[title]="toolTipText"
			>
				Id
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="city"
				[title]="toolTipText"
			>
				City
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="start_date"
				data-type="date"
				[title]="toolTipText"
			>
				Start Date
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="end_date"
				data-type="date"
				[title]="toolTipText"
			>
				End Date
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="price"
				[title]="toolTipText"
			>
				Price
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="status"
				[title]="toolTipText"
			>
				Status
			</th>
			<th
				scope="col"
				[appSort]="cityList"
				data-order="desc"
				data-name="color"
				[title]="toolTipText"
			>
				Color
			</th>
			<th scope="col" data-name="action">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let city of cityList | filter: startDate:endDate">
			<td>{{ city.id }}</td>
			<td>{{ city.city }}</td>
			<td>{{ city.start_date }}</td>
			<td>{{ city.end_date }}</td>
			<td>{{ city.price }}</td>
			<td>{{ city.status }}</td>
			<td>
				<span [ngStyle]="{ background: city.color }"></span>
				{{ city.color }}
			</td>
			<td>
				<button
					class="pure-button button-secondary button-small"
					(click)="editCity(city)"
				>
					Edit
				</button>
				<button
					class="pure-button button-error button-small"
					(click)="deleteCity(city.id)"
				>
					Delete
				</button>
			</td>
		</tr>
	</tbody>
</table>

<app-modal id="custom-modal-edit" [city]="selectedCity"></app-modal>
