<div class="app-modal">
	<div class="app-modal-body">
		<h3>{{ modalTitle }}</h3>
		<form class="pure-form pure-form-stacked" [formGroup]="cityForm">
			<fieldset>
				<legend>City Details</legend>
				<label for="id">Id</label>
				<input
					type="text"
					placeholder="id"
					formControlName="id"
					readonly
				/>

				<label for="city">City Name</label>
				<input
					type="text"
					id="city"
					formControlName="city"
					placeholder="City Name"
				/>

				<label for="start-date">Start Date</label>
				<input
					type="date"
					id="start-date"
					formControlName="start_date"
				/>

				<label for="start-date">End Date</label>
				<input type="date" id="end-date" formControlName="end_date" />

				<label for="price">Price</label>
				<input
					type="number"
					id="price"
					placeholder="Price"
					formControlName="price"
				/>

				<label for="status">Status</label>
				<select id="status" formControlName="status">
					<option value="Yearly">Yearly</option>
					<option value="Weekly">Weekly</option>
					<option value="Seldom">Seldom</option>
					<option value="Once">Once</option>
					<option value="Often">Often</option>
					<option value="Never">Never</option>
				</select>

				<label for="color">Color</label>
				<input
					type="color"
					id="color"
					placeholder="Color"
					formControlName="color"
				/>

				<button
					class="pure-button pure-button-primary"
          [disabled]="!cityForm.valid"
          (click)="onSubmit()"
				>
					Submit
				</button>
				<button class="button-error pure-button" (click)="close()">
					Cancel
				</button>
			</fieldset>
		</form>
	</div>
</div>
<div class="app-modal-background"></div>
