.button-error {
  background: rgb(202, 60, 60);
  color: #fff;
  margin-left: 8px;
}

.button-secondary {
  background: rgb(66, 184, 221);
  color: #fff;
  margin-right: 8px;
}

.button-small {
  font-size: 80%;
}
